h1  {
       text-align: center;
       font-size: 12pt;
       color:blue;
       margin-top:5%;
       text-decoration: underline;
    }
    
    table {
       margin: 20px;
      margin-right:20px;
      margin-left:25%;
       width: 290px;
    }
    
    th {
       padding: 3px;
    }
    
    td {
       padding-left: 15px;
       padding-right: 11px;
       border: 1px solid red;
       background-color: blue;
    }
    
    #trHeader {
       text-decoration: underline;
       color: red;
    }
    
    .centerCell {
       text-align: center;
    }

tr{
color:white; 
}

img{
  padding:15px;
  margin-left:28%;
}

body{
  background-color:lightgray;
}

p{
  color:black;
}
